# Ignore Visual Studio temporary files, build results, and
# build logs
*.log
.vs/
*.exe
*.dll
*.obj
*.pch
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.vspscc
*.vssscc
*.user
*.suo
*.cache
*.ilk
*.ncb
*.sdf
*.opensdf
*.vcxproj.user
*.nuget

# Ignore node_modules directory
node_modules/
dist/

# Ignore package lock file
package-lock.json

# Ignore TypeScript build files
*.tsbuildinfo

# Ignore environment variables file
.env
